.brands {
  padding: 0 20px;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 25%;
    padding: 25px;
    box-sizing: border-box;
    background: #ffffff;
  }
}
