@import "../../vars.scss";

.product-card {
  &:hover {
    .product-card {
      &__button-wrapper {
        opacity: 1;
        transform: translateY(-40px);
      }
    }
  }

  &__image-wrapper {
    padding-bottom: 120%;
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__image-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ebeeef;
  }

  &__info {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 26px;
  }

  &__price-item {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
  }

  &__button-wrapper {
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    transition: 0.3s;
    opacity: 0;
  }
}
