@import "../../../../vars.scss";

.products-page-products-wrapper {
  padding: 10px 20px 70px $spacing-x;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 25%;
    padding: 35px;
    box-sizing: border-box;
    background: #ffffff;
  }
}
