@import "../../vars.scss";

.cart-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;

  &__image-column {
    width: 100px;
  }

  &__image-wrapper {
    padding-bottom: 110%;
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__image-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ebeeef;
  }

  &__info-column {
    padding: 0 10px;
    flex-grow: 1;
  }

  &__title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  &__multiply {
    margin: 0 5px;
  }

  &__price {
    font-weight: bold;
  }

  &__totalItem {
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
  }

  &__delete-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
  }

  &__delete-icon {
    width: 10px;
    height: 10px;
  }

  &__counter {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__counter-button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $primary-color;
    line-height: 14px;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: white;
      background-color: $primary-color;
    }
  }

  &__counter-value {
    margin: 0 8px;
  }
}
